<div class="content-wrapper">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">머신러닝</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">머신러닝</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">   
      <div class="row">
        <textarea cols="50" rows="10" id="ori_src">
          Many Americans are surprised to see they have not prepared as well as they had hoped for retirement when they finally get ready to call it quits. The bad news is, you’ll probably have to make some realistic assumptions of what your retirement will look like. If you’ve lived primarily paycheck to paycheck in your working years, that may continue to feel the case in your retirement.        
      </textarea>
      <br>
      <textarea cols="50" rows="10" id="trans_area"></textarea>                
  </div>           
  <div class="row">
      <button onclick="onLangDetected();">언어감지</button>
      <div id="result">
          언어 감지 결과
      </div>
      </div>          
    </div>
  </section>
</div>